/* 重置默认样式 */
body, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 98%;
  width: 98%;
  background-color: #EDEDED;
}

/* 设置聊天容器占满整个视口的高度和宽度 */
.chat-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 分配剩余空间 */
  align-items: center;
  width: 98%;
  height: calc(100% - 60px); /* 60px为.chat-upsidebar和.chat-downsidebar的高度之和 */
}

/* 样式化聊天窗口 */
.chat-window {
  /* flex-grow: 1; 允许 chat-window 自动扩展以填充剩余空间 */
  max-height: calc(100% - 55px); /* 限制 chat-window 的最大高度 */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative; /* 添加相对定位 */
  padding: 10px;
  padding-bottom: 40px; /* 添加向下的padding */
  padding-top: 60px; /* 添加向下的padding */
  background-color: #EDEDED;
  margin-bottom: 0px;
}

.system-message {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 12px;
}

/* 样式化每条聊天消息 */
.chat-messages li {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.chat-message::marker {
  content: none;
}

/* 样式化头像 */
.chat-message::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 15%;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
}

/* 样式化用户头像 */
.chat-message.sent::before {
  right: -55px;
  background-image: url("../pic/user.jpg");
}

/* 样式化接收者头像 */
.chat-message.received::before {
  left: -55px;
  background-image: url("../pic/ai.jpg");
}

/* 样式化聊天气泡 */
.chat-message::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
}

/* 样式化用户聊天气泡 */
.chat-message.sent::after {
  border-color: transparent transparent transparent #fff;
  top: 10px;
  right: -15px;
}

/* 样式化接收者聊天气泡 */
.chat-message.received::after {
  border-color: transparent #95ec69 transparent transparent ;
  top: 10px;
  left: -15px;
}

/* 样式化聊天窗口滚动条 */
.chat-window::-webkit-scrollbar {
  width: 8px;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* 样式化接收的消息 */
.chat-message.received {
  background-color: #95ec69;
  white-space: pre-wrap;
  margin-bottom: 20px;
  align-self: flex-start;
  left: 60px;
  padding: 10px;
  border-radius: 5px;
  max-width: 75%;
  display: inline-block;
  text-align: left;
  position: relative;
}

/* 样式化发送的消息 */
.chat-message.sent {
  background-color: #fff;
  white-space: pre-wrap;
  margin-bottom: 20px;
  align-self: flex-end;  
  right: 60px;
  padding: 10px;
  border-radius: 5px;
  max-width: 75%;
  display: inline-block;
  text-align: left;
  position: relative;
}


/* 样式化聊天下侧栏 */
.chat-downsidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999; /* 确保 .chat-downsidebar 在其他内容之上 */
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0.1, 0, 0, 0);
  margin-top: 0;
  flex-direction: row;
}

/* 将子元素固定在一行显示 */
.chat-downsidebar > * {
  flex: none;
}

.chat-function {
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  padding: 0px;
  box-shadow: 0px 2px 4px rgba(0.1, 0, 0, 0);
  margin-top: 0;
  flex-direction: row;
}

/* 样式化 "设置名称" 按钮 */
.chat-function button[type="setname"] {
  cursor: pointer;
  margin-top: 2px; /* 添加左右边距 */
  border: none; /* 删除矩形边框 */
  background-color: transparent; /* 设置背景色为透明 */
}

/* 鼠标悬停在 "设置名称" 按钮上的效果 */
.chat-function button[type="setname"]:hover {
  color: #c4ffc7;
}

/* 样式化聊天输入框 */
.chat-input {
  flex-grow: 1;
  margin-top: 0px;
}

/* 样式化输入字段 */
.chat-input input[type="text"] {
  padding: 2px 5px; /* 修改padding的值 */
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 250px;
  height: auto;
  min-height: 30px;
  resize: none;
  white-space: pre-wrap;
  margin: 0 3px; /* 添加左右边距 */
  font-size: 16px;
}

/* 输入框获取焦点时去除边框样式 */
.chat-input input[type="text"]:focus {
  outline: none;
  border: 0px solid #ccc;
}

/* 样式化聊天功能按钮 */
.chat-function button[type="submit"]{
  padding: 5px 12px;
  background-color: #07c160;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

/* 鼠标悬停在提交按钮上的效果 */
.chat-function button[type="submit"]:hover{
  background-color: #069f50;
}

/* 样式化 "清屏" 按钮 */
.chat-function button[type="reset"] {
  cursor: pointer;
  margin-top: 2px; /* 添加左右边距 */
  border: none; /* 删除矩形边框 */
  background-color: transparent; /* 设置背景色为透明 */
}

/* 鼠标悬停在 "清屏" 按钮上的效果 */
.chat-function button[type="reset"]:hover {
  color: #c4ffc7;
}

.chat-upsidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  padding: 10px;
  background-color: #EDEDED;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.status {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}

/* 样式化 "清屏" 按钮 */
.chat-upsidebar button[type="clean"] {
  display: inline;
  position: relative;
  right: 2%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


/* 鼠标悬停在 "清屏" 按钮上的效果 */
.chat-upsidebar button[type="clean"]:hover {
  color: #c4ffc7;
}

/* 手机端样式 */
@media screen and (max-width: 1280px) {
  body {
    font-size: 14px; /* 调整整体字体大小 */
  }

  .chat-container {
    width: 100%; /* 调整宽度为100% */
    height: 100%; /* 调整高度为100% */
  }

  .chat-window {
    padding: 5px; /* 调整内边距 */
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .chat-function {
    margin-left: -8px; /* 调整左边距 */
  }

    /* 样式化接收的消息 */
  .chat-message.received {
    max-width: 60%;
  }
  
  .chat-function button[type="submit"]:hover{
    background-color: #07c160;
  }

  /* 样式化发送的消息 */
  .chat-message.sent {
    max-width: 60%;
  }

  .chat-upsidebar,
  .chat-downsidebar {
    height: 40px; /* 调整高度 */
    padding: 5px; /* 调整内边距 */
  }

  .chat-function button[type="submit"] {
    padding: 8px 10px; /* 调整内边距 */
    font-size: 12px; /* 调整字体大小 */
    margin-left: 2px;
  }

  .chat-input input[type="text"] {
    width: 220px;
    font-size: 15px; /* 调整字体大小 */
  }
}